<a href="https://colab.research.google.com/github/bruno353/Data_Science_Projects/blob/main/C%C3%B3pia_de_Base_INNO_tratamento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('/content/Cópia de Base Inno Processo_Final_2021.xlsx - Base Final Chris.csv')

In [ ]:
df.head()

   Base Nome da startup  ... Rollout Observações
0  Inno              99  ...     NaN         NaN
1   Abs            1927  ...     NaN         NaN
2  Inno            3778  ...     NaN         NaN
3  Inno     #TchauCarro  ...     NaN         NaN
4  Inno  (Assis)compras  ...     NaN         NaN

[5 rows x 19 columns]

In [ ]:
df['Tamanho time'].value_counts()

1-5                                                                             5246
6-10                                                                            2893
11-20                                                                            387
21-50                                                                            371
51-100                                                                            63
1-5;6-10                                                                          55
101-200                                                                           54
N/D                                                                               28
6-10;1-5                                                                          26
201-500                                                                           18
1-5;11-20                                                                         17
501-1000                                                                          12
1-5;21-50                                                                         11
6-10;11-20                                                                         8
0                                                                                  7
1001-5000                                                                          6
11-20;1-5                                                                          6
1-5;51-100                                                                         5
1-5;101-200                                                                        5
21-50;1-5                                                                          4
6-10;21-50                                                                         4
5001                                                                               4
1-5; 6-10                                                                          3
1-5;51-100\n                                                                       2
21-50;11-20                                                                        2
6-10;101-200                                                                       1
dataanalytics,bigdata,advancedanalytics,industria4.0,inteligenciaartificial,       1
6-10 ; 1-5                                                                         1
1-5 ;  6-10                                                                        1
51-100;101-200                                                                     1
6-10; 1-5                                                                          1
21-50 ; 6-10                                                                       1
Indústria                                                                          1
1-5;21-50\n                                                                        1
6-10;101-200; 201-500                                                              1
1-5 ; 21-50                                                                        1
11-20;21-50;101-200                                                                1
6-10;1-5\n                                                                         1
1-5;11-20\n                                                                        1
11-20 ;1-5                                                                         1
6-10;21-50\n                                                                       1
Varejo / Atacado                                                                   1
1-5:6-10                                                                           1
1-5;6-10\n                                                                         1
201-500;1-5                                                                        1
11-20;21-50                                                                        1
6-10;51-100                                                                        1
21-50 ; 101-200                                                                    1
Name: Tamanho time, dtype: int64

In [ ]:
df['Cidade'].value_counts()

São Paulo - SP                       2012
 -                                   1903
Rio de Janeiro - RJ                   493
Belo Horizonte - MG                   460
Porto Alegre - RS                     392
                                     ...
Trindade - GO                           1
Florianópolis - SC                      1
Maceió - AL \nRibeirão Preto - SP       1
Marau - RS                              1
Nova Prata - RS                         1
Name: Cidade, Length: 515, dtype: int64

In [ ]:
df['Categoria'].value_counts()

0                                         2389
Educação                                   604
Finanças                                   457
Outros                                     431
Saúde e Bem-estar                          410
                                          ...
Mobile, Vendas e Marketing                   1
Varejo / Atacado,Outros                      1
Eventos e Turismo, Comunicação e Mídia       1
Direito, Internet                            1
Eventos e Turismo, E-commerce                1
Name: Categoria, Length: 151, dtype: int64

In [ ]:
df['Modelo de negócios'].value_counts()

0                                                                                                                                                                                                                         4533
SaaS                                                                                                                                                                                                                      2029
--                                                                                                                                                                                                                        1204
Marketplace                                                                                                                                                                                                                899
Outros                                                                                                                                                                                                                     850
                                                                                                                                                                                                                          ...
B2B/B2C.                                                                                                                                                                                                                     1
marketplace, marketplace, redes sociais, redes sociais                                                                                                                                                                       1
Atendemos empresas de vários ramos por meio de uma Plataforma de Comunicação Mobile via WhatsApp e Telegram, que visa melhorar a interação dos clientes e funcionários com recursos e suportes que a plataforma traz.        1
Outros, |Licenciamento de produto| |Venda de Produto|                                                                                                                                                                        1
Marketplace,Redes Sociais,Serviços / Consultoria                                                                                                                                                                             1
Name: Modelo de negócios, Length: 418, dtype: int64

##Porcentagem de colunas com valores faltando

In [ ]:
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

                       Total   Percent
Rollout                14830  0.994968
Pilotos                14712  0.987051
Observações            14708  0.986783
Tags                    5877  0.394297
Ano fundação            5859  0.393090
Categoria               5762  0.386582
Cidade                  5714  0.383361
Tamanho time            5645  0.378732
Telefone                5030  0.337471
Fonte                   4778  0.320564
E-mail                  4668  0.313183
Linkedin empreendedor   4291  0.287890
Modelo de negócios      3444  0.231063
Nome empreendedor       3241  0.217444
Maturidade              2297  0.154109
Descrição longa           23  0.001543
Website                    9  0.000604
Base                       9  0.000604
Nome da startup            1  0.000067