<a href="https://colab.research.google.com/github/bruno353/Data_Science_Projects/blob/main/Recommendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#https://www.kaggle.com/arashnic/book-recommendation-dataset

In [13]:
import pandas as pd

In [14]:
df_ratings = pd.read_csv('Ratings.csv')

In [21]:
df_ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [15]:
df_ratings.shape

(1149780, 3)

In [16]:
df_books = pd.read_csv('Books.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
df_books.shape

(271360, 8)

In [18]:
df_books.head()

         ISBN  ...                                        Image-URL-L
0  0195153448  ...  http://images.amazon.com/images/P/0195153448.0...
1  0002005018  ...  http://images.amazon.com/images/P/0002005018.0...
2  0060973129  ...  http://images.amazon.com/images/P/0060973129.0...
3  0374157065  ...  http://images.amazon.com/images/P/0374157065.0...
4  0393045218  ...  http://images.amazon.com/images/P/0393045218.0...

[5 rows x 8 columns]

In [23]:
#SELECIONANDO PESSOAS QUE JÁ DERAM REVIEWS EM MAIS DE 200 LIVROS:
df_ratings=df_ratings[df_ratings['Book-Rating']>0]

In [25]:
counts1 = df_ratings['User-ID'].value_counts()
df_ratings= df_ratings[df_ratings['User-ID'].isin(counts1[counts1 > 200].index)]
df_ratings

         User-ID        ISBN  Book-Rating
14854       2276  0020960808           10
14856       2276  0030632366            9
14858       2276  0061030643            8
14860       2276  0061098353            8
14861       2276  0061099155            9
...          ...         ...          ...
1139786   274061  1892213737           10
1139787   274061  189221394X           10
1139788   274061  1892213958           10
1139789   274061  1892213966           10
1139790   274061  1931514925           10

[69226 rows x 3 columns]

In [26]:
cdf1=df_ratings[['User-ID','ISBN','Book-Rating']]
cdf=pd.merge(cdf1,df_books,on='ISBN')
cdf

       User-ID  ...                                        Image-URL-L
0         2276  ...  http://images.amazon.com/images/P/0020960808.0...
1         2276  ...  http://images.amazon.com/images/P/0030632366.0...
2         2276  ...  http://images.amazon.com/images/P/0061030643.0...
3        11676  ...  http://images.amazon.com/images/P/0061030643.0...
4       172742  ...  http://images.amazon.com/images/P/0061030643.0...
...        ...  ...                                                ...
62183   274061  ...  http://images.amazon.com/images/P/1892213737.0...
62184   274061  ...  http://images.amazon.com/images/P/189221394X.0...
62185   274061  ...  http://images.amazon.com/images/P/1892213958.0...
62186   274061  ...  http://images.amazon.com/images/P/1892213966.0...
62187   274061  ...  http://images.amazon.com/images/P/1931514925.0...

[62188 rows x 10 columns]

In [29]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
cdf['User_ID']=le.fit_transform(cdf['User-ID'])
cdf['title_id']=le.fit_transform(cdf['Book-Title'])
cdf.drop('User-ID',axis=1,inplace=True)
cdf

             ISBN  Book-Rating  ... User_ID title_id
0      0020960808           10  ...       0    36440
1      0030632366            9  ...       0    24193
2      0061030643            8  ...       0    31472
3      0061030643            7  ...       7    31472
4      0061030643            7  ...      96    31472
...           ...          ...  ...     ...      ...
62183  1892213737           10  ...     143     6066
62184  189221394X           10  ...     143     7029
62185  1892213958           10  ...     143     7030
62186  1892213966           10  ...     143     7032
62187  1931514925           10  ...     143     6708

[62188 rows x 11 columns]

In [36]:
!pip install surprise
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from surprise import SVD
from surprise import Dataset
from surprise.model_selection import cross_validate
from surprise import Reader
from surprise import Dataset
reader = Reader(rating_scale=(1, 10))
data = Dataset.load_from_df(cdf[['User_ID','title_id','Book-Rating']], reader)
svd = SVD()
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Requirement already satisfied: surprise in /usr/local/lib/python3.7/dist-packages (0.1)
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.7/dist-packages (from surprise) (1.1.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.0.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.19.5)
Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.4779  1.4701  1.5209  1.4674  1.4907  1.4854  0.0195
MAE (testset)     1.0899  1.0840  1.1198  1.0772  1.0873  1.0916  0.0147
Fit time          3.59    3.70    3.63    3.70    3.62    3.65    0.04
Test time         0.22    0.09    0.09    0.10    0.09    0.12    0.05

{'fit_time': (3.5874342918395996,
  3.6983706951141357,
  3.632429838180542,
  3.695540428161621,
  3.620316982269287),
 'test_mae': array([1.08985706, 1.0839942 , 1.11979285, 1.07718782, 1.0872611 ]),
 'test_rmse': array([1.47785384, 1.47008664, 1.52093171, 1.46737206, 1.49073391]),
 'test_time': (0.21794867515563965,
  0.09154582023620605,
  0.09458494186401367,
  0.09972620010375977,
  0.0896916389465332)}

In [41]:
def user_rec(id):
    user= cdf[['ISBN','Book-Title','Book-Author','Year-Of-Publication','Publisher','title_id']].copy()
    user = user.reset_index()
# getting full dataset
    data = Dataset.load_from_df(cdf[['User_ID','title_id','Book-Rating']], reader)
    trainset = data.build_full_trainset()
    svd.fit(trainset)
    user['Estimate_Score'] = user['title_id'].apply(lambda x: svd.predict(id, x).est)
    user = user.drop(['index','title_id'], axis = 1)
    user= user.sort_values('Estimate_Score' , ascending = False)
    counts1 = user['Estimate_Score'].value_counts()
    user = user[user['Estimate_Score'].isin(counts1[counts1 == 1].index)]
    return user.head(10)

In [43]:
pd.set_option('display.max_rows',None) 
Uid=4
print("THE ID OF THE USER: ",Uid)
details=cdf.loc[cdf['User_ID']==Uid]
id=details['User_ID'].iloc[0]
a=user_rec(id)
a.reset_index(inplace=True)
a.drop(['index'],axis=1,inplace=True)
details.reset_index(inplace=True)
details
details.drop(['index','User_ID','title_id','ISBN'],axis=1,inplace=True)
print("\n********************************************USER HAS RATED THESE BOOKs******************************************************")
title_1=list(details['Book-Title'])
rat1=list(details['Book-Rating'])
for i,j in zip(title_1,rat1):
    print(i,'=>',j)
print("\n****************BOOKS RECOMENDATIONS:******************")

display(a)

THE ID OF THE USER:  4

********************************************USER HAS RATED THESE BOOKs******************************************************
Dirk Gently's Holistic Detective Agency => 10
Snow Falling on Cedars => 8
Angela's Ashes: A Memoir => 8
HOW GREEN WAS MY VALLEY => 10
Z for Zachariah => 8
Food for Fifty => 7
The Lion, the Witch and the Wardrobe => 10
How to Cook Everything: Simple Recipes for Great Food => 10
Mutant Message Down Under => 8
All I Know About Animal Behavior I Learned in Loehmann's Dressing Room => 9
Where the Sidewalk Ends: The Poems and Drawings of Shel Silverstein => 10
A Light in the Attic => 10
A Light in the Attic => 10
Stupid White Men ...and Other Sorry Excuses for the State of the Nation! => 10
What To Cook When You Think There's Nothing in the House To Eat : More Than 175 Easy Recipes And Meal Ideas => 7
Cheaper and Better: Homemade Alternatives => 8
One for the Money (Stephanie Plum Novels (Paperback)) => 7
Terms of Adornment : The Ultimate Guide to Accessories => 6
Stuart Little => 10
Sarah, Plain and Tall (Sarah, Plain and Tall) => 10
The Magician's Nephew (Narnia) => 8
William's Doll (Jp 067) => 10
Knocked Out by My Nunga-Nungas : Further, Further Confessions of Georgia Nicolson (Confessions of Georgia Nicolson) => 5
The Bitch in the House : 26 Women Tell the Truth About Sex, Solitude, Work, Motherhood, and Marriage => 6
The Tao of Pooh => 10
The Pearl => 9
These High, Green Hills (The Mitford Years) => 8
Charlie and the Chocolate Factory => 9
The Jungle (The Penguin American Library) => 8
Each Peach Pear Plum (Picture Puffins) => 10
No Mirrors in My Nana's House => 10
Kat Kong => 10
The Time Traveler's Wife (Harvest Book) => 10
The Collected Stories of Eudora Welty => 10
The Philosophy of Andy Warhol => 7
Let's Give Kitty a Bath => 7
Sleeping at the Starlite Motel: And Other Adventures on the Way Back Home => 7
Nothing-To-Do Puppy: Story and Pictures => 8
Seven Little Postmen (Little Golden Book) => 10
Depeche Mode: Some Great Reward => 10
Eddie Would Go : The Story of Eddie Aikau, Hawaiian Hero and Pioneer of Big Wave Surfing => 9
Every Living Thing => 10
A Simple Plan => 8
Three To Get Deadly : A Stephanie Plum Novel (A Stephanie Plum Novel) => 9
Seven Up (A Stephanie Plum Novel) => 7
The Ubiquitous Shrimp: From Simple to Exotic, from Feasts to Snacks, All the Wonderful Ways to Savor America's Favorite Seafood => 7
Just Plain Folks: Original Tales of Living, Loving, Longing, and Learning, As Told by a Perfectly Ordinary, Quite Commonly Sensible, and Absolutely Awe-Inspiring colore => 9
Long Walk to Freedom : The Autobiography of Nelson Mandela Tag: The International Bestseller => 9
White Oleander : A Novel => 8
Garfield Rolls on (Garfield (Numbered Paperback)) => 8
Garfield's Halloween Adventure (Formerly Titled Garfield in Disguise) => 7
Frugal Gourmet => 9
Reviving Ophelia: Saving the Selves of Adolescent Girls (Ballantine Reader's Circle) => 8
I'm the One That I Want => 7
It's a Slippery Slope => 8
A Short Guide to a Happy Life => 7
A Heartbreaking Work of Staggering Genius => 4
House of Sand and Fog => 6
You Read to Me &amp; I'll Read to You: Stories to Share from the 20th Century => 10
The Dollmaker => 10
Rehearsal's Off! => 10
The Indian in the Cupboard => 10
Fg Cooks American => 9
A Soldier of the Great War => 7
Fg on Our Immigrant Ance => 10
Blu's Hanging => 8
20,001 Names for Baby => 7
American Gods => 7
Island of the Sequined L => 8
Coraline => 8
Lamb : The Gospel According to Biff, Christ's Childhood Pal => 10
The Neverending Story => 10
We Who Believe in Freedom: Sweet Honey in the Rock...Still on the Journey => 10
Tuesdays with Morrie: An Old Man, a Young Man, and Life's Greatest Lesson => 7
The Prophet => 10
Kristin Lavransdatter: The Bridal Wreath (Kristin Lavransdatter (Vintage)) => 8
The Cat in the Hat => 10
The Phantom Tollbooth => 10
The Truck Book (Best Book Club Ever) => 10
The Noisy Counting Book (Tough Enough for Toddlers) => 9
Jumanji => 10
Swan Lake => 10
The Npr Interviews 1994 => 10
A Is for Salad => 10
You Are My I Love You => 10
Time Stops for No Mouse: A Hermux Tantamoq Adventure (Hermux Tantamoq Adventure) => 9
The Sands of Time: A Hermux Tantamoq Adventure (Hermux Tantamoq Adventure) => 9
Mrs. Mike => 10
Mrs. Mike => 10
Maya's First Rose: Diary of a Very Special Love => 9
The Tick: Mighty Blue Justice! => 10
Undead and Unwed (Berkley Sensation) => 8
Read to Your Bunny => 10
Harry Potter and the Prisoner of Azkaban (Book 3) => 10
Harry Potter and the Goblet of Fire (Book 4) => 10
Clifford's Schoolhouse: With More Than 60 Fun Flaps to Lift (Clifford) => 8
Harry Potter and the Order of the Phoenix (Book 5) => 9
Red Dragon => 7
The Horse Whisperer => 7
Hannibal => 6
All-of-a-kind Family => 9
Great Brain (Yearling) => 10
A Wind in the Door => 10
A Wrinkle In Time => 10
MANY WATERS => 9
A Wrinkle in Time => 10
Good Omens => 10
Wild Seed => 10
Tourist Season => 9
Dude, Where's My Country? => 10
Hell to Pay => 7
Parable of the Sower => 10
Dicey's Song => 10
The New International Dictionary of Quotations => 8
Leaving Home => 9
Ain't I A Woman!: A Book of Women's Poetry from Around the World => 9
The Ultimate Hitchhiker's Guide => 10
Great Good Food : Luscious Lower-Fat Cooking => 9
The Te of Piglet => 9
Roald Dahl's James and the Giant Peach => 10
The Scarlet Letter => 7
Johnny Got His Gun => 10
Jaguars Ripped My Flesh: Adventure Is a Risky Business (Bantam New Fiction Series) => 7
Dying for Chocolate (Culinary Mysteries (Paperback)) => 7
Wilderness Tips => 5
Stuart Little => 10
Harvey Potters Balloon Farm => 10
The Shelters of Stone (Earth's Children Series, No 5) => 3
Practical English Handbook => 10
Fat Land: How Americans Became the Fattest People in the World => 7
A City in Winter => 8
The Veil of Snows => 10
The Secret Life of Bees => 8
TIME AND AGAIN => 10
Winter's Tale => 10
The Long Dark Tea-Time of the Soul => 10
BABY NAME PERSONALITY BOOK => 6
Chicka Chicka ABC => 10
Talk: Npr's Susan Stamberg Considers All Things => 10
Lucky You => 8
A Year in Provence => 7
We're Right, They're Wrong: A Handbook for Spirited Progressives => 8
The New Joy of Cooking => 10
Eat Mangoes Naked : Finding Pleasure Everywhere (and dancing with the Pits) => 8
Random Family: Love, Drugs, Trouble, and Coming of Age in the Bronx => 8
The Five Minute Iliad Other Instant Classics : Great Books For The Short Attention Span => 7
My Father Is in the Navy => 8
The Eentsy, Weentsy Spider: Fingerplays and Action Rhymes => 8
Babyhood => 7
The CHURCH MICE &amp; THE MOON (Church Mice &amp; the Moon) => 10
Cats, Cats, Cats! => 9
Better Homes and Gardens Cooking Chinese => 6
The Cure: Songwords, 1978-1989 => 10
Mikwright Family Style => 9
The Constitution of the United States of America => 10
Desperation Dinners! => 9
Rosie's Bakery All Butter Fresh Cream Sugar Packed No Holds Barred Baking Book => 8
What to Expect When You're Expecting, Third Edition => 9
What to Expect When You're Expecting, 3rd Edition => 9
The White Dog Cafe Cookbook: Recipes and Tales of Adventure from Philadelphia's Revolutionary Restaurant => 8
The Corner : A Year in the Life of an Inner-City Neighborhood => 9
The Minimalist Cooks at Home : Recipes That Give You More Flavor from Fewer Ingredients in Less Time => 7
Fiesta! A Celebration of Latin Hospitality => 7
Artemis Fowl (Artemis Fowl, Book 1) => 8
The Pleasure of My Company: A Novel => 10
Sling Blade: A Screenplay => 7
Shopgirl => 8
Bad Habits: A 100% Fact-Free Book => 8
Kindred (Black Women Writers Series) => 9
Hope for the Flowers => 10
Quicksand and Passing (American Women Writers Series) => 9
Home for a Dinosaur (Giant First Start Reader) => 7
Yukon Ho! => 10
Wiener Dog Art => 10
It Came From The Far Side => 10
The Far Side Observer => 10
Whoreson: The Story of a Ghetto Pimp => 8
What's in a Name?: Reflections of an Irrepressible Name Collector => 8
Roald Dahl Omnibus => 10
IF YOU'RE AFRAID OF DARK => 9
I Do: A Guide to Creating Your Own Unique Wedding Ceremony => 8
The Silver Palate Cookbook => 8
The New Basics Cookbook => 8
Driving and Discovering Oahu (Driving and Discovering Books) => 8
White Trash Cooking (Jargon) => 10
Intersecting Circles: The Voices of Hapa Women in Poetry and Prose (Bamboo Ridge, No. 76) => 7
Crepe Cookery => 5
Everyone Poops (My Body Science) => 7
Lee Wade's Korean Cookery => 10
Kitty the Raccoon => 7
Family Traditions in Hawaii => 9
I Had a Dollar in Hawaii => 10
The Curious Incident of the Dog in the Night-Time (Vintage Contemporaries) => 10
The Salmon of Doubt: Hitchhiking the Galaxy One Last Time => 10
Bad Jobs: My Last Shift at Albert Wong's Pagoda and Other Ugly Tales of the Workplace => 6
Diplomatic Dance: The New Embassy Life in America => 9
Scandinavian Feasts => 10
To Afghanistan and Back => 7
Terrific Pacific Cookbook => 10
All Around the World Cookbook => 8
Miami Spice: The New Florida Cuisine => 7
Miguel De Cervantes's Don Quixote => 10
Catkin => 10
I Ching -- The classic Chinese Oracle of Change. The first complete translation with concordance => 10
A Pocket Guide to Oahu => 8
Moon Handbooks: Hawaii => 10
The Tick: The Naked City => 10
Pupus: An Island Tradition => 6
Day Hikes on Oahu, 3rd (Day Hikes) => 8
Gone Fishin': An Easy Rawlins Novel (Easy Rawlins Mysteries (Hardcover)) => 7
Bread, Tomato, Garlic: Quick Cooking With 3 Main Ingredients => 9
A Flash in the Pan: 100 Fast and Furious Recipes for Wok and Stir-Fry => 7
High Adventure in the Great Outdoors => 7
Hawaii: True Stories of the Island Spirit (Travelers' Tales Guides) => 9
Get Your War On => 8
Bloodchild: And Other Stories => 8
The Man Who Planted Trees => 10

****************BOOKS RECOMENDATIONS:******************

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

         ISBN  ... Estimate_Score
0  0689304374  ...       9.653164
1  0062505238  ...       9.652405
2  0747543992  ...       9.597739
3  0590630954  ...       9.592615
4  0345333551  ...       9.583585
5  0312112629  ...       9.577013
6  1551666847  ...       9.555238
7  0440139880  ...       9.547257
8  078686382X  ...       9.512091
9  1559948787  ...       9.504633

[10 rows x 6 columns]