<a href="https://colab.research.google.com/github/bruno353/Data_Science_Projects/blob/main/Text_Clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
import pandas as pd

In [57]:
df = pd.read_csv("/content/data_science_linkedin.csv")

In [58]:
df.head(20)

,Links,empresa,vaga,tipo,senioridade,descrição,cidade,Unnamed: 7,Unnamed: 8
0,https://www.linkedin.com/jobs/view/2877766354/...,\n Atento Brasil\n,Consultor de Inovação - Home Office,\n + de 10.001 funcionários ·...,\n Tempo integral · Pleno-sên...,\n \n Sobre a vaga\n ...,"\n São Paulo, São Paulo, Brasil\n ...",NaN,NaN
1,https://www.linkedin.com/jobs/view/2909344383/...,\n Ambev\n,Banco de Talentos PCD CIT ( Centro de Inovação...,\n + de 10.001 funcionários ·...,\n Tempo integral · Assistent...,\n \n Sobre a vaga\n ...,"\n Rio de Janeiro, Rio de Janeiro, ...",NaN,NaN
2,https://www.linkedin.com/jobs/view/2910120004/...,\n Novartis Brasil\n,GERENTE JR INOVAÇÃO (BIOME) - FARMA - SP,\n + de 10.001 funcionários ·...,\n Tempo integral\n ...,\n \n Sobre a vaga\n ...,"\n São Paulo, São Paulo, Brasil\n ...",NaN,NaN
3,https://www.linkedin.com/jobs/view/2891709528/...,\n Hospital Israelita Albert Eins...,Consultor Projeto Inovação,\n + de 10.001 funcionários ·...,\n Tempo integral\n ...,\n \n Sobre a vaga\n ...,"\n São Paulo, São Paulo, Brasil\n ...",NaN,NaN
4,https://www.linkedin.com/jobs/view/2919028354/...,\n Amazon\n,DE&I SDE I,\n + de 10.001 funcionários ·...,\n Tempo integral\n ...,\n \n Sobre a vaga\n ...,"\n São Paulo, São Paulo, Brasil\n ...",NaN,NaN
5,https://www.linkedin.com/jobs/view/2890959229/...,\n Digio\n,Trabalhe conosco,\n 201-500 funcionários · Ban...,\n Tempo integral\n ...,\n \n Sobre a vaga\n ...,"\n Barueri, São Paulo, Brasil\n ...",NaN,NaN
6,https://www.linkedin.com/jobs/view/2879499068/...,\n Falconi\n,Analista de Inovação,\n 501-1.000 funcionários · C...,\n Tempo integral · Pleno-sên...,\n \n Sobre a vaga\n ...,"\n São Paulo, Brasil\n",NaN,NaN
7,https://www.linkedin.com/jobs/view/2891717576/...,\n GrupoSC Distribuidora de Medic...,Gerente de inovação,\n 5.001-10.000 funcionários ...,\n Tempo integral · Pleno-sên...,\n \n Sobre a vaga\n ...,"\n São Paulo, Brasil\n",NaN,NaN
8,https://www.linkedin.com/jobs/view/2910213772/...,\n Dasa\n,Líder de Tecnologia Digital/Inovação,\n + de 10.001 funcionários ·...,\n Tempo integral · Pleno-sên...,\n \n Sobre a vaga\n ...,"\n São Paulo, Brasil\n",NaN,NaN
9,https://www.linkedin.com/jobs/view/2898599820/...,\n Deloitte\n,Especialista SR em Inovação - BR,\n + de 10.001 funcionários ·...,\n Tempo integral · Júnior\n ...,\n \n Sobre a vaga\n ...,"\n São Paulo, São Paulo, Brasil\n ...",NaN,NaN
10,https://www.linkedin.com/jobs/view/2908552436/...,\n Colégios e Unidades Sociais da...,Monitor(a) de Aprendizagem - Turno Integral,\n 1.001-5.000 funcionários ·...,\n Tempo integral · Assistent...,\n \n Sobre a vaga\n ...,"\n Porto Alegre, Rio Grande do Sul,...",NaN,NaN
11,https://www.linkedin.com/jobs/view/2891436624/...,\n Hospital Sírio-Libanês\n ...,Analista de Inovação Sênior,\n 5.001-10.000 funcionários ...,\n Tempo integral · Pleno-sên...,\n \n Sobre a vaga\n ...,"\n São Paulo, Brasil\n",NaN,NaN
12,https://www.linkedin.com/jobs/view/2885762514/...,\n Agrivalle Brasil\n,Gerente de Produtos e Inovação - Biológicos e ...,\n 201-500 funcionários · Agr...,\n Tempo integral · Pleno-sên...,\n \n Sobre a vaga\n ...,"\n Indaiatuba, São Paulo, Brasil\n ...",NaN,NaN
13,https://www.linkedin.com/jobs/view/2843458475/...,\n Arcadis\n,Analista de Inovação Digital JR,\n + de 10.001 funcionários ·...,\n Tempo integral · Assistent...,\n \n Sobre a vaga\n ...,"\n São Paulo, São Paulo, Brasil\n ...",NaN,NaN
14,https://www.linkedin.com/jobs/view/2909002948/...,\n GRUPO SBF\n,Analista de Inovação/Loyalty Sr,\n 5.001-10.000 funcionários ...,\n Tempo integral · Pleno-sên...,\n \n Sobre a vaga\n ...,"\n São Paulo, Brasil\n",NaN,NaN
15,https://www.linkedin.com/jobs/view/2901322886/...,\n Tata Consultancy Services\n ...,Analista de Inovação Aberta,\n + de 10.001 funcionários ·...,\n Tempo integral · Pleno-sên...,\n \n Sobre a vaga\n ...,"\n São Paulo, Brasil\n",NaN,NaN
16,https://www.linkedin.com/jobs/view/2904792199/...,\n Hospital Sírio-Libanês\n ...,Copeiro Hospitalar,\n 5.001-10.000 funcionários ...,\n Tempo integral · Júnior\n ...,\n \n Sobre a vaga\n ...,"\n São Paulo, Brasil\n",NaN,NaN
17,https://www.linkedin.com/jobs/view/2905071371/...,\n SEBRAE RS\n,BANCO DE TALENTOS,\n 201-500 funcionários · Con...,\n Tempo integral · Assistent...,\n \n Sobre a vaga\n ...,\n Porto Alegre e Região\n,NaN,NaN
18,https://www.linkedin.com/jobs/view/2782103859/...,\n EY\n,Auditor/a Sênior - Inovação,\n + de 10.001 funcionários ·...,\n Tempo integral · Pleno-sên...,\n \n Sobre a vaga\n ...,"\n São Paulo, São Paulo, Brasil\n ...",NaN,NaN
19,https://www.linkedin.com/jobs/view/2907579633/...,\n Maxion Structural Components\n...,Engenheiro de Inovação Jr,\n 5.001-10.000 funcionários ...,\n Tempo integral · Assistent...,\n \n Sobre a vaga\n ...,"\n Cruzeiro, São Paulo, Brasil\n ...",NaN,NaN

In [59]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans

In [60]:
documents = df['descrição'].values.astype("U")

In [61]:
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import TfidfVectorizer

In [99]:
my_stop_words = ["a", "o", "em", "para", "que", "com", "as", "os", "você", "dexco", "tu", "cidade", "as", "nas", "nas", "/n", "de", "como", "nossos", "de", "da",
                 "das", "dos", "na", "mais", "no", "se", "está", "localização", "nosso", "do", "uma", "um", "por", "ou", "and", "to", "the", "somos", "seu", "ey",
                 "sua", "todas", "sobre"]

In [100]:
vectorizer = TfidfVectorizer(stop_words=my_stop_words)
features = vectorizer.fit_transform(documents)

In [101]:
k = 5
model = KMeans(n_clusters=k, init='k-means++', max_iter=100, n_init=1)
model.fit(features)

KMeans(max_iter=100, n_clusters=5, n_init=1)

In [102]:
df['cluster'] = model.labels_

In [103]:
df[["empresa", "cluster"]]

                                               empresa  cluster
0          \n              Atento Brasil\n                    0
1                  \n              Ambev\n                    1
2        \n              Novartis Brasil\n                    1
3    \n              Hospital Israelita Albert Eins...        1
4                 \n              Amazon\n                    1
..                                                 ...      ...
858                   \n              EY\n                    3
859                   \n              EY\n                    3
860                   \n              EY\n                    3
861                   \n              EY\n                    3
862                   \n              EY\n                    3

[863 rows x 2 columns]

In [104]:
clusters = df.groupby('cluster')

In [105]:
for cluster in clusters.groups:
    f = open('cluster'+str(cluster)+ '.csv', 'w') # create csv file
    data = clusters.get_group(cluster)[['empresa','descrição']] # get title and overview columns
    f.write(data.to_csv(index_label='id')) # set index to id
    f.close()

In [106]:
print("Cluster centroids: \n")
order_centroids = model.cluster_centers_.argsort()[:, ::-1]
terms = vectorizer.get_feature_names()

Cluster centroids:

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [107]:
for i in range(k):
    print("Cluster %d:" % i)
    for j in order_centroids[i, :10]: #print out 10 feature terms of each cluster
        print (' %s' % terms[j])
    print('------------')

Cluster 0:
 auxílio
 clt
 efetivo
 vale
 auxiliar
 00
 transporte
 adicionais
 integral
 produto
------------
Cluster 1:
 pessoas
 inovação
 projetos
 experiência
 gestão
 sobre
 desenvolvimento
 time
 conhecimento
 produtos
------------
Cluster 2:
 experiência
 design
 projetos
 ponta
 ci
 pessoa
 cloud
 agile
 seja
 digitais
------------
Cluster 3:
 ibm
 melhor
 mundo
 negócios
 privacidade
 clientes
 tecnologia
 construir
 todos
 cultura
------------
Cluster 4:
 unidade
 depender
 dasa
 hypera
 deca
 produtos
 brasileira
 saúde
 pharma
 io
------------