<a href="https://colab.research.google.com/github/bruno353/Machine-Learning/blob/main/Man_of_Match.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#https://www.kaggle.com/mathan/fifa-2018-match-statistics
#you need to predict Fifa 2018 man of the match

In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [45]:
df = pd.read_csv('/content/FIFA 2018 Statistics.csv')

In [46]:
df.head()

         Date          Team  ... Own goals  Own goal Time
0  14-06-2018        Russia  ...       NaN            NaN
1  14-06-2018  Saudi Arabia  ...       NaN            NaN
2  15-06-2018         Egypt  ...       NaN            NaN
3  15-06-2018       Uruguay  ...       NaN            NaN
4  15-06-2018       Morocco  ...       1.0           90.0

[5 rows x 27 columns]

In [47]:
df.shape

(128, 27)

In [48]:
df.groupby['Own goal Time'].count()

TypeError: ignored

In [49]:
 df['Own goal Time'].count()

12

In [50]:
df.groupby('Own goal Time')['Own goal Time'].agg('count').sort_values(ascending = False)

Own goal Time
90.0    2
81.0    1
74.0    1
47.0    1
37.0    1
33.0    1
32.0    1
23.0    1
18.0    1
13.0    1
12.0    1
Name: Own goal Time, dtype: int64

In [51]:
df['Own goal Time'].isna().sum()

116

In [52]:
df['Own goal Time'].fillna(0, inplace = True)

In [53]:
df['Own goals'].fillna(0, inplace = True)

In [54]:
df.head()

         Date          Team  ... Own goals  Own goal Time
0  14-06-2018        Russia  ...       0.0            0.0
1  14-06-2018  Saudi Arabia  ...       0.0            0.0
2  15-06-2018         Egypt  ...       0.0            0.0
3  15-06-2018       Uruguay  ...       0.0            0.0
4  15-06-2018       Morocco  ...       1.0           90.0

[5 rows x 27 columns]

In [55]:
df.isna().sum()

Date                       0
Team                       0
Opponent                   0
Goal Scored                0
Ball Possession %          0
Attempts                   0
On-Target                  0
Off-Target                 0
Blocked                    0
Corners                    0
Offsides                   0
Free Kicks                 0
Saves                      0
Pass Accuracy %            0
Passes                     0
Distance Covered (Kms)     0
Fouls Committed            0
Yellow Card                0
Yellow & Red               0
Red                        0
Man of the Match           0
1st Goal                  34
Round                      0
PSO                        0
Goals in PSO               0
Own goals                  0
Own goal Time              0
dtype: int64

In [56]:
df['1st Goal'].fillna(0,inplace=True)

In [57]:
df.drop(['Date'], axis = 1, inplace = True)

In [58]:
df['Man of the Match'] = df['Man of the Match'].apply(lambda x: 1 if x == 'Yes' else 0)

In [59]:
df.head()

           Team      Opponent  ...  Own goals  Own goal Time
0        Russia  Saudi Arabia  ...        0.0            0.0
1  Saudi Arabia        Russia  ...        0.0            0.0
2         Egypt       Uruguay  ...        0.0            0.0
3       Uruguay         Egypt  ...        0.0            0.0
4       Morocco          Iran  ...        1.0           90.0

[5 rows x 26 columns]

In [60]:
df['PSO'].unique()

array(['No', 'Yes'], dtype=object)

In [61]:
df['PSO'] = df['PSO'].apply(lambda x: 1 if x == 'Yes' else 0)

In [69]:
from scipy.stats import skew
print(skew(df['Passes']))

0.7648855625254746

In [62]:
df1 = pd.get_dummies(df, drop_first = True)

In [63]:
Y = df1['Man of the Match']

In [64]:
X = df1.drop('Man of the Match', axis = 1)

In [66]:
from sklearn.model_selection import train_test_split

In [79]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, shuffle = True)

In [80]:
from sklearn.linear_model import LogisticRegression

In [81]:
model = LogisticRegression()

In [82]:
model.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [83]:
model.score(X_test, y_test)

0.6153846153846154

In [84]:
from sklearn.ensemble import RandomForestClassifier

In [85]:
from sklearn.model_selection import cross_val_score
cross_val_score(RandomForestClassifier(), X, Y, cv = 5 )

array([0.80769231, 0.76923077, 0.61538462, 0.6       , 0.84      ])

0.27384615384615385